@import 'mixins', 'fonts', 'vars';

@media only screen {

}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	section:not(.home-hero):not(#coupons):not(#blog).hero{
		height: 500px;
	}
	section:not(.home-hero):not(#coupons):not(#blog) .hero-text-header{
		color: white;
	}
}

@import 'pages/company';
@import 'pages/services';