@media only screen {
	.menu-menu-grid-category-grid-item-imagecontainer{
		height: auto;
	}
	.menu-menu-grid-category-grid-item-textcontainer-price{
		font-size: 3.6rem;
	}
	.menu-menu-grid-category-grid-item-textcontainer-header{
		line-height: 1.5;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
